@import "./utilites/variables";
@import "./Base/normalize";
@import "./Utilites/placeholders";
@import "./Utilites/breakpoints";
@import "./utilites/mixins";
@import "./utilites/general";
@import "./components/header";
@import "./components/filter";
@import "./components/cards";
@import "./components/footer";
