.act {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  &-list {
    position: relative;
  }
  &-list:not(:last-child) {
    margin-right: 30px;
  }
  &-list img {
    display: block;
  }
}
.act-item {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  @include display;
  @include generalfont(
    $line-height: 16px,
    $weight: 700,
    $size: 14px,
    $letter-spacing: 0.03em
  );
  line-height: 1.14;
  text-transform: uppercase;
  color: $primary-white-color;
  background: rgba(47, 48, 58, 0.8);
}
