.feature {
  padding-top: 60px;
  padding-bottom: 60px;
  // padding-top: 94px;
  // padding-bottom: 94px;
  display: block;
  &-list {
    @media screen and (max-widht: 768px) {
      display: flex;
    }
  }
  &-main {
    display: block;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    @media screen and (max-widht: 1148px) {
      width: calc((100% - 30px * 3) / 4);
    }
  }

  @media screen and (max-widht: 1148px) {
    &-main:not(:last-child) {
      margin-right: 30px;
    }
  }
  &-img {
    margin-bottom: 30px;
    background-color: $background-color;
    border-radius: 4px;
    @media screen and (max-widht: 768px) {
      width: 270px;
      margin-bottom: 30px;
    }
  }
  &-icon {
    width: 70px;
    height: 70px;
    margin: 25px 190px;
    @media screen and (max-widht: 768px) {
      margin: 25px 142px;
    }
    @media screen and (max-widht: 1148px) {
      margin: 25px 100px;
    }
  }
  &-title {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
    color: $title-nav-color;
    @include generalfont($line-height: 16px, $weight: bold, $size: 14px);
    text-transform: uppercase;
  }
  &-item {
    margin-top: 0px;
    margin-bottom: 0px;
    @include generalfont(24px);
  }
}
