.filter {
  display: block;
  z-index: 1;
  padding-top: 90px;
  padding-bottom: 90px;
  &-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 40px;

    @media screen and (min-width: $tablet) {
      justify-content: center;
    }
  }
  @media screen and (max-width: 767px) {
    &-list {
      margin-bottom: 15px;
      margin-right: 8px;
    }
    &-list:last-child {
      margin-right: 0;
      margin-bottom: 0;
    }

    &-list:nth-child(4) {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: $tablet) {
    &-list:not(:last-child) {
      margin-right: 8px;
    }
  }
}
.filter-button {
  padding: 6px 22px;
  background: $background-color;
  border: transparent;
  border-radius: 4px;
  color: $title-nav-color;
  @include generalfont(
    $line-height: 26px,
    $weight: 500,
    $size: 16px,
    $letter-spacing: 0.03em
  );
  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $primary-white-color;
    cursor: pointer;
    transition: $transition;
  }
}
