.footer {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $footer-backgroung;
  color: $primary-white-color;
  &-site {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    @media screen and (min-width: $desktop) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &-container {
    @media screen and (min-width: $tablet) {
      display: flex;
      align-items: baseline;
      margin-bottom: 60px;

      @media screen and (min-width: $desktop) {
        margin-bottom: 0;
        flex-grow: 1;
      }
    }
  }
  &-connection {
    flex-grow: 1;
    @media screen and (max-width: 767px) {
      margin-bottom: 60px;
    }
  }

  &-follow {
    margin-bottom: 60px;
    flex-grow: 1;
  }

  &-mailing {
    @media screen and (min-width: $desktop) {
      text-align: start;
    }
  }

  & b {
    margin-top: 0px;
    margin-bottom: 20px;
  }

  & .logo {
    align-items: center;
    margin-bottom: 20px;
    display: inline-block;
  }

  &-adress {
    display: flex;
    flex-direction: column;
  }

  & .logo-accent {
    color: $primary-white-color;
  }

  & .adress-mail {
    margin-bottom: 8px;
    @include generalfont($line-height: 24px, $weight: 400, $size: 14px);
    color: $footer-adress-color;
    font-style: normal;
  }

  & .adress-tel {
    color: $footer-adress-color;
    @include generalfont($line-height: 24px, $weight: 400, $size: 14px);
    font-style: normal;
  }

  &-text {
    display: block;
    text-transform: uppercase;
  }

  &-button {
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    @include display;
    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: $primary-white-color;
    @include generalfont(
      $line-height: 30px,
      $weight: 900,
      $size: 16px,
      $letter-spacing: 0.06em
    );
    text-align: center;
  }

  & .socialnet {
    margin-left: 10px;
  }

  & .section {
    padding-bottom: 0px;
  }

  &-email {
    width: 100%;
    height: 50px;
    padding-left: 12px;
    margin-bottom: 20px;
    background: rgba(0, 0, 0, 0);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: $footer-adress-color;
    @media screen and (min-width: $desktop) {
      margin-right: 10px;
      margin-bottom: 0;
      width: 358px;
    }
  }
}

.footer-links {
  display: flex;
  justify-content: center;
  & li:not(:last-child) {
    margin-right: 10px;
  }
}

.footer-linkbox {
  @include display;
  background-color: $footer-linkbox-color;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: $primary-white-color;
  &:hover,
  &:focus {
    background-color: $accent-color;
    fill: $primary-white-color;
    cursor: pointer;
    transition: $transition;
  }
}

.location {
  margin-bottom: 8px;
  @include generalfont($line-height: 24px, $weight: 400, $size: 14px);
  font-style: normal;
  color: $primary-white-color;
}
.feedback {
  @media screen and (min-width: $desktop) {
    display: flex;
  }
}
