.footer {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $footer-backgroung;
  color: $primary-white-color;
  &-site {
    text-align: center;
    // @include display;
    // width: 1200px;
    // height: 193px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  & b {
    margin-top: 0px;
    margin-bottom: 20px;
  }
  & .logo {
    align-items: center;
    margin-bottom: 20px;
    // margin-bottom: 8px;
    display: inline-block;
  }
  &-connection {
    flex-grow: 1;
  }
  &-follow {
    margin-bottom: 60px;
    flex-grow: 1;
  }
  &-mailing {
    flex-grow: 2;
  }
  &-adress {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
  }
  & .logo-accent {
    color: $primary-white-color;
  }
  & .adress-mail {
    margin-bottom: 8px;
    // margin-bottom: 9px;
    @include generalfont($line-height: 24px, $weight: 400, $size: 14px);
    color: $footer-adress-color;
    font-style: normal;
  }
  & .adress-tel {
    color: $footer-adress-color;
    @include generalfont($line-height: 24px, $weight: 400, $size: 14px);
    font-style: normal;
  }
  &-text {
    display: block;
    text-transform: uppercase;
  }
  &-button {
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    // margin-left: 10px;
    @include display;
    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: $primary-white-color;
    @include generalfont(
      $line-height: 30px,
      $weight: 900,
      $size: 16px,
      $letter-spacing: 0.06em
    );
    text-align: center;
  }
  & .socialnet {
    margin-left: 10px;
  }
  & .section {
    padding-bottom: 0px;
  }
  &-email {
    width: 100%;
    // width: 358px;
    height: 50px;
    padding-left: 12px;
    margin-bottom: 20px;
    background: rgba(0, 0, 0, 0);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: $footer-adress-color;
  }
}
.footer-links {
  display: flex;
  justify-content: center;
  & li:not(:last-child) {
    margin-right: 10px;
  }
}
.footer-linkbox {
  @include display;
  background-color: $footer-linkbox-color;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: $primary-white-color;
  &:hover,
  &:focus {
    background-color: $accent-color;
    fill: $primary-white-color;
    cursor: pointer;
    transition: $transition;
  }
}
.location {
  margin-bottom: 8px;
  // margin-bottom: 9px;
  @include generalfont($line-height: 24px, $weight: 400, $size: 14px);
  font-style: normal;
  color: $primary-white-color;
}
.feedback {
  // display: flex;
}
