.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/Hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: $title-nav-color;
  &-content {
    text-align: center;
  }
  &-title {
    margin-top: 0px;
    margin-bottom: 30px;
    color: $primary-white-color;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
  &-item {
    min-width: 200px;
    display: inline-block;
    padding: 10px 32px;
    border-radius: 4px;
    background-color: $accent-color;
    color: $primary-white-color;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
  }
}
