.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    & .modal {
      transform: translate(-50%, -50%) scale(0.5);
    }
  }
}

.modal {
  @media screen and (max-width: 468px) {
    width: 450px;
  }
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  width: 528px;
  background-color: $primary-white-color;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.modal-close-button {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  border: none;
  transform: translateX(30%) translateY(-30%);
  border-radius: 50%;
  background-color: $primary-white-color;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}
.modal-close-icon {
  width: 11px;
  height: 11px;
}
.modal-title {
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-nav-color;
}
.input-area {
  margin-top: 30px;
}
.form-field {
  position: relative;
  margin-bottom: 28px;
  width: 448px;
  display: flex;
  flex-direction: column;
}
.modal-label {
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);
  width: 100%;
  @include generalfont;
}
.textarea {
  height: 120px;
  width: 100%;
  margin-bottom: 30px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}
.checkbox-icon {
  display: inline-block;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid $title-nav-color;
  border-radius: 2px;
}
.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  &:checked + &-icon {
    background-color: $accent-color;
    border-color: transparent;
    background-origin: border-box;
    background-image: url(../images/icon-check.svg);
    background-size: contain;
  }
}
.field-checkbox {
  display: inline-block;
  margin-bottom: 30px;
  @include generalfont($line-height: 14px, $size: 12px);
  // padding-left: 13px;
  // font-size: 14px;
  // line-height: 24px;
  & a {
    color: $accent-color;
    text-decoration-line: underline;
  }
}
.modal-button {
  @include display;
  & button {
    width: 200px;
    height: 50px;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.06em;
    background-color: $accent-color;
    color: $primary-white-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: transparent;
  }
}
.modal-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}
.modal-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 370px;
  // width: 100%;
  height: 40px;
  &:focus + .modal-label,
  &:not(:placeholder-shown) + .modal-label {
    transform: translateX(-26px) translateY(-40px);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: $accent-color;
  }
  &:focus {
    outline: 1px solid $accent-color;
  }
  &:focus ~ .modal-icon {
    fill: $accent-color;
  }
}
